---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Fuente from "../components/Fuente.astro";
---

<Layout>
  <main class="mx-[10px] mt-[10px]">
    <h2 class="text-gba-blue font-bold text-[30px] mb-[20px]">
      ¿Qué hacer en caso de inundación?
    </h2>
    <section>
      <div class="ml-[20px]">

        <li class="text-[20px] mb-[30px] text-balance">Conservá la calma.</li>
        
        <li class="text-[20px] mb-[30px] text-balance">
          Cerrá la llave de gas, agua y cortá la electricidad.
        </li>
        
        <li class="text-[20px] mb-[30px] text-balance">
          Evacuá hacia una zona segura, que por lo general son las más altas.
        </li>
        
        <li class="text-[20px] mb-[30px] text-balance">
          Si te sorprende el agua dentro de la vivienda, evitá sótanos y planta
          baja.
        </li>

      <li class="text-[20px] mb-[30px] text-balance">
        Llamá a los Bomberos para que te ayuden a evacuar (Telefono de
        emrgencia: 100).
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        Mantené cerradas puertas y ventanas, para evitar corrientes de agua
        dentro de la vivienda.
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        No usés ningún tipo de vehículo como auto, moto o bicicleta.
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        No ubicarse cerca de postes de electricidad o cables.
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        Si hay heridos, llamá a las autoridades. No intentés moverlos.
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        Informá a las autoridades si hay alguien que tenga movilidad reducida o
        no pueda evacuarse por sus propios medios.
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        Prestá atención solo a los avisos de las autoridades a cargo.
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        No intentés caminar o nadar por caminos inundados o cauces de río.
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        Señalizá en caso que la casa tenga pozo negro, por las dudas que este se
        derrumbe.
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        Bebé agua potabilizada, no utilicés el agua de la canilla.
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        Tené siempre cerca una radio a pilas (tené pilas de repuesto) conocé lo
        que está sucediendo.
      </li>
      
      <li class="text-[20px] mb-[30px] text-balance">
        Agenda los números de Protección Civil (103), Bomberos (100) y Policía (911).
      </li>
    </div>
    </section>
    <section class="mt-[50px]">
      <h2 class="text-gba-blue font-bold text-[30px] mb-[20px]">
        ¿Qué hacer después de una inundación?
      </h2>
      <div class="ml-[20px]">
        <li class="text-[20px] mb-[30px] text-balance">
          No regresés a la vivienda hasta que las autoridades a cargo lo
          recomienden.
        </li>
        <li class="text-[20px] mb-[30px] text-balance">
          Al llegar a ella, tratá de usar calzado aislante (calzado de goma) y
          verificar el estado de la conexión eléctrica. Debe estar desconectada.
          No tocar ni pisar cables.
        </li>
        <li class="text-[20px] mb-[30px] text-balance">
          Tené cuidado con vidrios rotos y objetos que te lastimen. Usá zapatos
          de suela gruesa y linterna a pilas para ver dónde se pisa.
        </li>
        <li class="text-[20px] mb-[30px] text-balance">
          Verificá paredes, piso y techo para asegurar que no hay riesgo de
          derrumbe. También revisá los productos químicos mojados y los animales
          muertos.
        </li>
        <li class="text-[20px] mb-[30px] text-balance">
          No consumás ningún alimento que haya estado en contacto con el agua.
          Si hubo interrupción eléctrica considerá que los alimentos en el
          freezer se conservan 24 horas y en la heladera seis si se mantuvieron
          cerrados.
        </li>
        <li class="text-[20px] mb-[30px] text-balance">
          En caso de anegamiento, esperá a que baje el agua para empezar a
          limpiar.
        </li>
        <li class="text-[20px] mb-[30px] text-balance">
          Realizá una limpieza profunda de pisos, paredes, muebles y otros
          objetos utilizando una taza de lavandina (pocillo de café) cada 10
          litros de agua.
        </li>
      </div>
    </section>
    <section class="mb-[20px]">
      <Fuente
        text="Fuente oficial: Argentina.gob.ar"
        fuente="https://www.argentina.gob.ar/sinagir/riesgos-frecuentes/inundacion/que-hacer"
      />
    </section>
  </main>
</Layout>
