---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="bg-black text-white flex justify-center items-center">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et ea soluta
    itaque voluptate earum laudantium, ullam doloremque tempore aliquam optio
    omnis fugit temporibus expedita odio voluptates pariatur adipisci tenetur
    placeat.
  </section>
</Layout>
