---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import FAQ from "../components/FAQ.astro";
import Hero from "../sections/Hero.astro";
import Carrusel from "../components/Carrusel.astro";
---

<Layout>
  <section>
    <Hero />
  </section>
  <section>
    <FAQ />
  </section>
</Layout>
