---
import Card from "../components/Card.astro";
---

<div class="relative w-full max-w-5xl mx-auto mb-30 bg-transparent">
  <div class="gallery js-flickity" data-flickity-options='{
    "wrapAround": true,
    "prevNextButtons": true,
    "pageDots": true,
    "contain": true
  }'>
    <div class="gallery-cell">
      <Card 
        title="Información básica" 
        description="Accede a números de emergencia, refugios disponibles y recomendaciones para quienes están en zonas afectadas." 
        link="https://www.lanacion.com.ar/sociedad/donde-se-reciben-donaciones-para-bahia-blanca-nid10032025/" 
      />
    </div>

    <div class="gallery-cell">
      <Card 
        title="Estado de las rutas" 
        description="Consulta qué rutas están habilitadas y cuáles siguen afectadas por la inundación antes de viajar." 
        link="https://www.lanacion.com.ar/sociedad/donde-se-reciben-donaciones-para-bahia-blanca-nid10032025/" 
      />
    </div>

    <div class="gallery-cell">
      <Card 
        title="Ayuda para Bahía Blanca" 
        description="Las familias afectadas por las inundaciones necesitan tu ayuda. Encuentra centros de donación y cómo colaborar." 
        link="https://www.lanacion.com.ar/sociedad/donde-se-reciben-donaciones-para-bahia-blanca-nid10032025/" 
      />
    </div>
  </div>
</div>

<style>
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .gallery {
    background: #transparent;
    overflow: hidden;
  }

  .gallery-cell {
    width: 70%;
    height: auto;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flickity-page-dots {
    bottom: -25px;
  }

  .flickity-prev-next-button {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .flickity-prev-next-button:hover {
    background: black;
  }

</style>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
