---
import DownArrow from "../assets/icons/DownArrow.astro";

const faqs = [
  {
    titulo: "¿Cómo Hacer RCP?",
    contenido: `Si una persona está inconsciente y no respira, se deben seguir estos pasos para realizar RCP: asegurar la escena, verificar la conciencia con palmadas y palabras, observar el movimiento torácico, llamar al 107 si no respira y comenzar las maniobras, que consisten en colocar las manos entrelazadas en el centro del pecho y realizar compresiones firmes de 100 a 120 por minuto con una profundidad de 5 cm, asegurando una compresión y relajación equilibradas, cambiando de reanimador cada 1 o 2 minutos si es posible.`,
    enlace: "https://cruzroja.org.ar/blog/como-hacer-rcp/",
  },
  {
    titulo: "En Caso de Hemorragias y Heridas",
    contenido: `Para controlar una hemorragia, es fundamental aplicar presión directa con los dedos o la palma sobre un apósito limpio sin retirar objetos clavados, mientras que, en una herida cortante, se debe lavar con agua limpia, aplicar antiséptico si es necesario y cubrir con un apósito estéril, prestando atención a señales de infección como fiebre, enrojecimiento, calor o dolor, y acudiendo al médico si aparecen.`,
    enlace: "https://cruzroja.org.ar/blog/que-hacer-ante-una-hemorragia/",
  },
  {
    titulo: "En Caso de Ahogamiento",
    contenido: `Ante un caso de ahogamiento, es crucial priorizar la seguridad del rescatador utilizando objetos flotantes para asistir sin entrar al agua, verificar si la persona está consciente y respira, iniciar RCP si es necesario y, en caso de sospecha de lesión en la columna, evitar moverla y mantener alineada la cabeza, el cuello y la espalda hasta la llegada de ayuda profesional.`,
    enlace: "https://www.argentina.gob.ar/salud/primerosauxilios",
  },
  {
    titulo: "Prevenir Enfermedades",
    contenido: `Para prevenir enfermedades, es fundamental reforzar medidas higiénico-dietéticas como el lavado de manos, el uso de alcohol en gel, la limpieza de superficies con lavandina, el consumo de agua y alimentos seguros, y la correcta disposición de residuos y excretas.
`,
    enlace:
      "https://www.argentina.gob.ar/salud/dinesa/recomendaciones/control-inundaciones-inmunoprevenibles",
  },
  {
    titulo: "¿Cómo Ahorrar Batería en el Celular?",
    contenido: `Para ahorrar batería en el celular, activá el modo de ahorro de energía, reducí el brillo de la pantalla, desactivá conexiones innecesarias como Wi-Fi o Bluetooth y cerrá aplicaciones en segundo plano.`,
    enlace:
      "https://www.infobae.com/tecno/2024/07/10/como-hacer-que-la-bateria-de-tu-celular-android-dure-mas-de-un-dia/",
  },
];

---

<style>
  details {
    transition: all 0.3s ease-in-out;
  }

  details[open] summary ~ div {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<section
  class="flex flex-col items-center w-full max-w-[800px] mx-auto mb-50 px-4"
>
  <h2 class="text-3xl font-bold text-gba-blue mb-6 text-center">
    Información útil
  </h2>

  {
    faqs.map(({ titulo, contenido, enlace }) => (
      <details
        class="w-full max-w-[700px] border-2 rounded-xl overflow-hidden bg-white shadow-lg transition-all duration-300 mb-4"
        style={{
          borderImage: "linear-gradient(45deg, #74c9e3, #e61794) 1",
        }}
      >
        <summary class="px-6 py-4 flex justify-between items-center text-black text-lg font-semibold bg-transparent cursor-pointer hover:bg-gray-100 transition-all">
          <span>{titulo}</span>
          <DownArrow width="24" />
        </summary>
        <div class="px-6 py-4 text-gray-700 border-t border-gray-300 flex flex-col gap-2">
          <p>{contenido}</p>
          <a
            href={enlace}
            class="text-[#e61794] hover:text-pink-500 transition self-end font-medium"
          >
            Más info →
          </a>
        </div>
      </details>
    ))
  }
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const details = document.querySelectorAll("details");

    details.forEach((detail) => {
      detail.addEventListener("click", function () {
        details.forEach((otherDetail) => {
          if (otherDetail !== detail) {
            otherDetail.removeAttribute("open");
          }
        });
      });
    });
  });
</script>
