---
import DownArrow from "../assets/icons/DownArrow.astro";

const faqs = [
  {
    titulo: "¿Cómo Hacer RCP?",
    contenido:
      "Una persona necesita maniobras de RCP (Reanimación Cardiopulmonar) si está inconsciente y no respira.
       Pasos para hacer RCP
         1. En primer lugar, se debe asegurar la escena. Evitar ponerse en peligro.
         2. Una vez realizado el paso anterior, acercarse, dar palmadas suaves en los hombros y hablar con la persona, si no responde , se encuentra inconsciente.
         3. Observar el movimiento de tórax: si no respira, si jadea o boquea.
         4. Llamar al servicio de emergencias al 107 e informar que hay una persona inconsciente que no respira.
         5. Iniciar las maniobras de RCP (Reanimación Cardiopulmonar)
       Maniobras de RCP:
         1. Colocar tus manos en el centro del pecho. Una mano sobre la otra.
         2. Entrecruzar los dedos.
         3. Comprimir fuerte el pecho:
            - Frecuencia: de 100 a 120 compresiones por minuto.
            - Profundidad 5 cm aproximadamente.
            - Igual compresión que relajación.
            - De ser posible, cambiar con otra persona cada 1 o 2 minutos para prevenir el cansancio.",
    enlace:
      "https://cruzroja.org.ar/blog/como-hacer-rcp/",
  },
  {
    titulo: "En Caso de Hemorragias y Heridas",
    contenido:
      "Es fundamental aplicar presión directa para controlar el sangrado lo más rápido posible. Tener conocimientos en Primeros Auxilios es clave para saber qué hacer y cómo actuar ante una emergencia.
       Recomendaciones:
         Para controlar una hemorragia activa, se recomienda aplicar presión directa con la parte plana de los dedos o de la palma de las manos sobre un ap&oacute;sito o tela idealmente limpia.
         ¡Es muy importante no retirar objetos clavados!
       Recomendaciones para una herida cortante:
         - Lavar con agua corriente limpia hasta que no se vean indicios de material extraño. Si no hay agua corriente disponible, se puede utilizar cualquier fuente de agua limpia.
         - Colocar un antis&eacute;ptico, siempre y cuando no se cuente con agua y sepamos cuáles son sus indicaciones de uso y aplicación, detalladas en el prospecto al momento de adquirirlo.
         - Cubrir con un apósito estéril o con un paño limpio y seco.
       Señales de infección:
         - Fiebre
         - Enrojecimiento, calor o dolor en la zona herida
       En caso de que aparezca alguno de estos síntomas, asistir a un control médico a la brevedad. Evitar colocar crema o remedio casero sin indicación médica.",
    enlace: "https://cruzroja.org.ar/blog/que-hacer-ante-una-hemorragia/",
  },
  {
    titulo: "En Caso de Ahogamiento",
    contenido:
      "Cómo actuar:
         Seguridad del rescatador: Antes de intentar cualquier rescate, asegurarse de que no se pone en peligro la propia vida. Utilizar elementos flotantes como pueden ser GARRAFAS, MADERAS,RUEDAS DE AUTO o cuerdas para alcanzar a la persona en peligro SIN ENTRAR EN EL AGUA, si es posible
         Evaluación y atención: Una vez fuera del agua, verificar si la persona está consciente y respira. Si no respira, iniciar RCP inmediatamente
         Atención a lesiones en la columna vertebral: Si se sospecha de una lesión en la columna (por ejemplo, si la persona se lanzó al agua y golpeó su cabeza), se debe evitar moverla excesivamente y mantener alineada la cabeza, el cuello y la espalda hasta que llegue ayuda profesional.",
    enlace:
      "https://www.argentina.gob.ar/salud/primerosauxilios",
  },
  {
    titulo: "Prevenir Enfermedades",
    contenido:
      "Es indispensable reforzar las medidas higiénico-dietéticas (lavado de manos, uso de alcohol en gel, lavado de manos antes de manipular alimentos, limpieza de superficies con lavandina al 1%; provisión de agua y alimentos seguros) y disponer de una adecuada disposición de residuos y eliminación de excretas.",
    enlace:
      "https://www.argentina.gob.ar/salud/dinesa/recomendaciones/control-inundaciones-inmunoprevenibles",
  },
  {
    titulo: "¿Cómo Ahorrar Batería en el Celular?",
    contenido:
      "- Activá el modo de ahorro de energía en tu celular.
       - Reducí el brillo de la pantalla.
       - Desactivar conexiones innecesarias como Wi-Fi, Bluetooth o Datos Móviles.
       - Cerrar aplicaciones en segundo plano",
    enlace:
      "https://www.infobae.com/tecno/2024/07/10/como-hacer-que-la-bateria-de-tu-celular-android-dure-mas-de-un-dia/",
  },
];
---

<style>
  details {
    transition: all 0.3s ease-in-out;
  }

  details[open] summary ~ div {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<section
  class="flex flex-col items-center w-full max-w-[800px] mx-auto mb-50 px-4"
>
  <h2 class="text-3xl font-bold text-gba-blue mb-6 text-center">
    Información útil
  </h2>

  {
    faqs.map(({ titulo, contenido, enlace }) => (
      <details
        class="w-full max-w-[700px] border-2 rounded-xl overflow-hidden bg-white shadow-lg transition-all duration-300 mb-4"
        style={{
          borderImage: "linear-gradient(45deg, #74c9e3, #e61794) 1",
        }}
      >
        <summary class="px-6 py-4 flex justify-between items-center text-black text-lg font-semibold bg-transparent cursor-pointer hover:bg-gray-100 transition-all">
          <span>{titulo}</span>
          <DownArrow width="24" />
        </summary>
        <div class="px-6 py-4 text-gray-700 border-t border-gray-300 flex flex-col gap-2">
          <p>{contenido}</p>
          <a
            href={enlace}
            class="text-[#e61794] hover:text-pink-500 transition self-end font-medium"
          >
            Más info →
          </a>
        </div>
      </details>
    ))
  }
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const details = document.querySelectorAll("details");

    details.forEach((detail) => {
      detail.addEventListener("click", function () {
        details.forEach((otherDetail) => {
          if (otherDetail !== detail) {
            otherDetail.removeAttribute("open");
          }
        });
      });
    });
  });
</script>
