---
import Escuela from "../assets/icons/Escuela.astro";
---

<section class="">
  <div
    id="logo"
    class="h-28 p-2"
  >
    <img
      src="data:image/svg+xml,%3c?xml%20version='1.0'%20encoding='utf-8'%20?%3e%3csvg%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20width='719'%20height='408'%3e%3cpath%20fill='%23346600'%20transform='scale(2.41275%202.4142)'%20d='M126.272%2017.3631L177.703%2017.4795L177.971%2042.2646L175.562%2042.2514L123.588%2042.1669C123.786%2039.8694%20123.608%2037.4508%20123.611%2035.1395L123.687%2022.2427C123.695%2020.9198%20123.36%2018.7121%20123.769%2017.533C124.557%2017.3456%20125.462%2017.3929%20126.272%2017.3631Z'/%3e%3cpath%20fill='%23FE0000'%20transform='scale(2.41275%202.4142)'%20d='M123.6%20129.742L177.791%20129.784L177.94%20154.758L123.533%20154.749L123.6%20129.742Z'/%3e%3cpath%20fill='%23346600'%20transform='scale(2.41275%202.4142)'%20d='M123.56%2092.2484L177.826%2092.3121L177.92%20117.287L123.62%20117.201L123.56%2092.2484Z'/%3e%3cpath%20fill='%23FE0000'%20transform='scale(2.41275%202.4142)'%20d='M190.553%2092.4297C193.887%2092.6843%20197.47%2093.109%20200.65%2094.1913C205.72%2095.917%20210.148%2099.3344%20213.839%20103.138C218.842%20108.295%20221.646%20116.876%20221.464%20124C221.251%20132.31%20218.34%20139.766%20212.347%20145.519C208.804%20148.672%20204.357%20151.954%20199.764%20153.269C196.928%20154.08%20193.69%20154.247%20190.764%20154.512C190.382%20153.909%20190.548%20152.117%20190.537%20151.376L190.51%20140.766L190.553%2092.4297Z'/%3e%3cpath%20fill='%23FE0000'%20transform='scale(2.41275%202.4142)'%20d='M123.763%2054.875C125.507%2055.1106%20127.635%2054.8616%20129.421%2054.886L147.963%2054.924L205.083%2054.9515L216.628%2054.8853C218.095%2054.8643%20220.322%2054.5351%20221.72%2054.9175L221.727%2079.821L123.583%2079.8343L123.551%2064.2786C123.556%2061.3675%20123.142%2057.6823%20123.763%2054.875Z'/%3e%3cpath%20fill='%23346600'%20transform='scale(2.41275%202.4142)'%20d='M109.034%2017.6097C109.662%2017.5628%20110.202%2017.3946%20110.738%2017.75L110.763%2038.3201L110.814%2078.7906L110.943%20104.432C110.947%20108.661%20111.237%20113.126%20110.733%20117.325C108.626%20116.901%20106.477%20116.716%20104.375%20116.246C97.3583%20114.676%2091.9978%20111.258%2087.234%20105.916C84.19%20102.853%2081.8112%2097.2616%2080.8509%2093.0999C79.322%2086.4744%2079.9766%2079.4647%2082.7645%2073.25C83.7102%2071.1418%2084.9922%2069.2022%2086.2128%2067.247C82.6309%2062.4312%2080.423%2056.1211%2080.0173%2050.142C79.4863%2042.3167%2082.4615%2033.7131%2087.6147%2027.8033C92.9919%2021.6365%20100.984%2018.1827%20109.034%2017.6097Z'/%3e%3c/svg%3e"
      alt="Logo"
      class="w-20 h-auto bg-transparent animate-fade-out-down"
    /><p class="text-white text-lg font-semibold bg-transparent"></p>
  </div>
</section>
