<section>
  <div class="bg-gradient-to-l from-white to-gba-pink flex flex-col items-center justify-center">
    <div class="text-center py-[20px] font-semibold text-white">
      <p>EESTN°5 Mar del Plata</p>
      <p>Hecho por 7° año informática profesional y personal</p>
    </div>
  </div>
  <div class="bg-gradient-to-r from-gba-blue to-gba-pink w-full h-[2px]"></div>
  <div class="flex flex-wrap justify-between items-center bg-gradient-to-r from-white to-gba-blue px-[20px]">
    <div class="w-1/4 flex justify-start">
      <img
        src="../../public/logo_gba_footer_blanco.svg"
        alt="Logo Buenos Aires Provincia"
        class="w-[100px] md:w-[130px]"
      />
    </div>
    <div class="w-1/4 flex justify-center">
      <img
        src="../../public/bahia-logo-muni.png"
        alt="Municipio de Bahía Blanca"
        class="w-[80px] md:w-[150px]"
      />
    </div>
    <div class="w-1/4 flex justify-end">
      <img
        src="../../public/logo-escuela.png"
        alt="Logo Escuela"
        class="w-[30px] md:w-[50px]"
      />
    </div>
    <div class="w-1/4 flex justify-end">
      <img
        src="../../public/DET3.svg"
        alt="Logo Escuela"
        class="w-[50px] md:w-[100px]"
      />
    </div>
  </div>
</section>
