---
---

<section class="">
  <div class="bg-gradient-to-r from-gba-blue to-gba-pink w-full h-[4px]"></div>
  <div class="flex justify-between items-center bg-gradient-to-r from-white to-gba-blue p-[8px]">
    <div class="ml-[10px] flex items-center">
      <img
        src="../../public/logo_gba_footer_blanco.svg"
        alt="logo buenos aires provincia"
        class="w-[150px]"
      />
    </div>
    <div class="flex items-center">
      <img
        src="../../public/bahia-logo-muni.png"
        alt="Municipio de Bahía Blanca (Buenos Aires, Argentina)"
        class="w-[150px]"
      />
    </div>
  </div>
</section>

