---
const { text, onClick, className } = Astro.props;
---

<button
  class={`${className} bg-white text-black font-semibold px-[20px] py-[5px] rounded-[5px] hover:scale-[1.1] transition duration-[.3s]`}
  onclick={onClick}
>
  {text}
</button>
