---
---

<nav class={`top-0 left-0 w-full z-50 bg-gradient-to-r from-white to-gba-blue shadow-md`}>
  <div class="flex justify-between items-center p-[8px]">
    <div class="ml-[10px] flex items-center">
      <img
        src="../../public/logo_gba_footer_blanco.svg"
        alt="logo buenos aires provincia"
        class="w-[150px]"
      />
    </div>
    <div class="flex items-center">
      <img
        src="../../public/bahia-logo-muni.png"
        alt="Municipio de Bahía Blanca (Buenos Aires, Argentina)"
        class="w-[150px]"
      />
    </div>
  </div>
  <div class="bg-gradient-to-r from-gba-blue to-gba-pink w-full h-[4px]"></div>
</nav>
