---
import Menu from "../assets/icons/Menu.astro";
---

<nav
  class="relative top-0 left-0 w-full z-50 bg-gradient-to-r from-white to-gba-blue shadow-md"
>
  <div class="flex justify-between items-center p-[8px]">
    <div class="ml-[10px] flex items-center">
      <img
        src="/logo_gba_footer_blanco.svg"
        alt="logo buenos aires provincia"
        class="w-[150px]"
      />
    </div>
    <div class="flex items-center z-10">
      <button
        id="menu-toggle"
        class="cursor-pointer p-2 transition-transform duration-300 hover:scale-110 active:scale-90"
      >
        <Menu color="white" size="35" id="menu-icon" />
      </button>
    </div>
  </div>
  <div class="bg-gradient-to-r from-gba-blue to-gba-pink w-full h-[4px]"></div>

  <div
    id="menu"
    class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out bg-gba-pink"
  >
    <ul class="flex flex-col text-center p-4">
      <li>
        <a
          href="/"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >Inicio</a
        >
      </li>
      <li>
        <a
          href="/ayuda"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >Ayuda</a
        >
      </li>
      <li>
        <a
          href="/salud"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >Hospitales</a
        >
      </li>
      <li>
        <a
          href="/telefonos"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >Teléfonos</a
        >
      </li>
      <li>
        <a
          href="/refugios"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >Refugios</a
        >
      </li>
      <li>
        <a
          href="https://www.argentina.gob.ar/transporte/vialidad-nacional/estado-de-rutas"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >Transito</a
        >
      </li>
      <li>
        <a
          href="https://www.smn.gob.ar/alertas_area?loc=760"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >Clima</a
        >
      </li>
      <li>
        <a
          href="https://www.infoedes.com/obras-en-tu-barrio/"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >EDES</a
        >
      </li>
      <li>
        <a
          href="https://www.bahia.gob.ar/gobierno/defensacivil/"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >Defensa Civil</a
        >
      </li>
      <li>
        <a
          href="https://forms.gba.gob.ar/formulario/ab8e876e157e1e7dcea31f72c03c80a7114bb499320b1d61aa49f96b25ec9fc2dd051fc62439da777ade7416dc8cb102ee3ce89b309dbe65b9302b8f8cc89165"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >Donaciones</a
        >
      </li>
      <li>
        <a
          href="/acceso"
          class="block py-2 text-white font-semibold transition-transform duration-300 hover:scale-105"
          >Como agregar a acceso directo</a
        >
      </li>
    </ul>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");

    menuToggle?.addEventListener("click", () => {
      if (menu?.classList.contains("max-h-0")) {
        menu.classList.remove("max-h-0");
        menu.classList.add("max-h-[800px]");
      } else {
        menu?.classList.remove("max-h-[800px]");
        menu?.classList.add("max-h-0");
      }
    });
  });
</script>
