---
import Button from "../components/Button.astro";
import MainButton from "../components/MainButton.astro";
---

<!-- Importación de la fuente Lilita One -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
  rel="stylesheet"
/>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Lilita+One&display=swap");

  .lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 1000;
    font-style: normal;
  }

  .myfilter {
    filter: hue-rotate(999deg) saturate(1.1);
  }
</style>

<section
  class="relative min-h-screen bg-transparent flex flex-col justify-center items-center text-center"
>
  <div class="relative w-full">
    <h1
      class="lilita-one-regular font-bold bg-clip-text text-transparent relative leading-tight
                  text-[18vw] sm:text-[14vw] md:text-[12vw] lg:text-[11vw] xl:text-[9vw] 2xl:text-[7vw]"
    >
      BahiaAyuda
    </h1>

    <div
      class="absolute inset-0 bg-cover bg-center bg-fixed myfilter"
      style="background-image: url('/public/main.jpeg'); -webkit-background-clip: text; background-clip: text; text-fill-color: transparent;"
    >
      <h1
        class="lilita-one-regular font-bold text-transparent leading-tight
                  text-[16vw] sm:text-[14vw] md:text-[12vw] lg:text-[11vw] xl:text-[9vw] 2xl:text-[7vw]"
      >
        BahiaAyuda
      </h1>
    </div>
  </div>

  <p class="text-lg text-gray-800 max-w-[90%] sm:max-w-[80%]">
    Encuentra o brinda ayuda.
  </p>

  <Button href="/ayuda" />

  <div class="flex flex-wrap justify-center items-center gap-6 mt-6">
    <MainButton
      link="/salud"
      title="Hospitales"
      logo='<svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24"><path fill="currentColor" d="M10.5 17h3v-3.5H17v-3h-3.5V7h-3v3.5H7v3h3.5zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21z"/></svg>'
    />
    <MainButton
      link="#"
      title="Refugios"
      logo='<svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24"><path fill="currentColor" d="M7 20q-.825 0-1.412-.587T5 18v-7.15l-2 1.525q-.35.25-.75.213T1.6 12.2t-.2-.75t.4-.65l8.975-6.875q.275-.2.588-.3t.637-.1t.638.1t.587.3L16 6.05V5.5q0-.625.438-1.062T17.5 4t1.063.438T19 5.5v2.85l3.2 2.45q.325.25.388.65t-.188.75t-.65.388t-.75-.213l-2-1.525V18q0 .825-.587 1.413T17 20h-1q-.825 0-1.412-.587T14 18v-2q0-.825-.587-1.412T12 14t-1.412.588T10 16v2q0 .825-.587 1.413T8 20zm3-9.975h4q0-.8-.6-1.313T12 8.2t-1.4.513t-.6 1.312"/></svg>'
    />
    <MainButton
      link="#"
      title="Telefonos"
      logo='<svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 13V4q0-.425.288-.712T13 3h7q.425 0 .713.288T21 4v5q0 .425-.288.713T20 10h-5zm7.95 8q-3.125 0-6.175-1.362t-5.55-3.863t-3.862-5.55T3 4.05q0-.45.3-.75t.75-.3H8.1q.35 0 .625.238t.325.562l.65 3.5q.05.4-.025.675T9.4 8.45L6.975 10.9q.5.925 1.187 1.787t1.513 1.663q.775.775 1.625 1.438T13.1 17l2.35-2.35q.225-.225.588-.337t.712-.063l3.45.7q.35.1.575.363T21 15.9v4.05q0 .45-.3.75t-.75.3"/></svg>'
    />
  </div>
</section>
