---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>BahiaAyuda</title>
  </head>
  <body class="grid grid-rows-[auto_1fr_auto] min-h-screen relative">
    <section class="relative">
      <Nav />
    </section>
    <section class="relative">
      <slot />
    </section>
    <section class="relative">
      <Footer />
    </section>
  </body>
</html>

<style>
  html, body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  /* FONDO CON OPACIDAD */
  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/lp.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3; /* Ajusta el nivel de transparencia */
    z-index: -1;
  }

  /* Cambia el fondo para pantallas pequeñas */
  @media (max-width: 768px) {
    body::after {
      background-image: url('/lc.svg');
    }
  }
</style>
